.intro__wrap {
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  
  &::before {
    background-image: url('../img/hero-pattern.png');
    z-index: -2;
  }
  
  &::after {
    background-image: linear-gradient( 90deg, rgb(0,0,0) 0%, rgb(255,255,255) 82%);
    opacity: 0.4;
  }
}


.intro {
  display: flex;
  align-items: center;
  min-height: 230px;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}

.intro__title {
  width: 100%;
  margin: 0;
  font-size: calc(35px + (50 - 35) * ((100vw - 320px) / (1360 - 320)));
  font-weight: 400;
  // text-transform: uppercase;
  text-align: center;
  // line-height: 1.3;
  text-shadow: -1.721px 2.457px 36.86px rgba(255, 255, 255, 0.004);
}

.hero__info {
  margin: 0;
  margin-bottom: 30px;
  font-size: 20px;
  text-shadow: -1.721px 2.457px 36.86px rgba(255, 255, 255, 0.004);
  line-height: 1.45;
}

@media (min-width: $tablet) { 
  .hero__wrap {
    padding-bottom: 100px;
  }
}

