.button {
  display: inline-block;
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  min-height: 40px;
  cursor: pointer;
  color: $color-white;
  background-color: $color-brown;
  outline: none;
  font-size: 18px;
  font-weight: 400;
  border: 1px solid $color-brown;

  transition: all 0.3s;
}

.button--middle {
  min-height: 50px;
  border-radius: 25px;
  font-size: 20px;
}

.button--large {
  min-height: 60px;
  padding: 15px 30px;
  border-radius: 25px;
  font-size: 25px;
}

.button--o {
  border: 1px solid $color-brown;
  background-color: transparent;
  color: $color-text;
}

.button--black {
  background-color: #000000;
}

.button:disabled {
  background-color: $color-light-gray;
  cursor: not-allowed;
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
  background-color: $color-brown-light;
  color: #ffffff;
  border-color: $color-brown-light;
}

.button--transparent:hover:not(:disabled),
.button--transparent:focus:not(:disabled) {
  background-color: $color-brown;
  color: $color-white;
}