.button {
  display: inline-block;
  padding: 15px 30px;
  border: none;
  border-radius: 20px;
  text-decoration: none;
  min-height: 50px;
  cursor: pointer;
  color: $color-white;
  background-color: $color-brown;
  text-transform: uppercase;
  outline: none;
  font-size: 15px;
  font-weight: 400;

  transition: all 0.3s;
}

.button--large {
  min-height: 60px;
  border-radius: 25px;
  font-size: 25px;
}
// .button--transparent {
//   border: 1px solid $color-brown;
//   background-color: transparent;
//   color: $color-text;
// }

// .button--transparent:disabled {
//   color: $color-light-gray;
//   border-color: $color-light-gray;
//   cursor: not-allowed;
// }


.button:disabled {
  background-color: $color-lightest-gray;
  cursor: not-allowed;
}

.button:hover:not(:disabled),
.button:focus:not(:disabled) {
  background-color: $color-gray;
}

.button--transparent:hover:not(:disabled),
.button--transparent:focus:not(:disabled) {
  background-color: $color-brown;
  color: $color-white;
}